<section id="create-course-section" class="create-course-section">
        <div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <div class="create-course-sidebar paksa-turun-40">
                            <ul class="list-bar">
                                <li class="active admin-menu"><span class="count"><i class="fa fa-calendar-alt"></i></span>Tanggal Input KRS</li>
                                <li class="active admin-menu"><span class="count"><i class="fa fa-list-alt"></i></span>Display Pengambilan Kelas</li>
                            </ul>
                            <div class="support">
                                <a href="#"><i class="icon md-camera"></i>See how it work short tutorial</a>
                                <a href="#"><i class="icon md-flash"></i>Instant Support</a>
                            </div>
                        </div>
                    </div>

                <div class="col-md-9">
                    <div class="create-course-content">

                        <!-- NPM -->
                        <div class="promo-video create-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="lg black bold">SET TANGGAL KRS</h4>
                                </div>
                            </div>
                            <div class="row paksa-turun-40">
                                <div class="col-md-3">
                                    <h4>Facebook</h4>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-item">
                                        <input type="text" placeholder="https:/www.facebook.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END NPM -->

                        <!-- FAKULTAS -->
                        <div class="promo-video create-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>Linked In</h4>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-item">
                                        <input type="text" placeholder="https:/www.linkedin.com">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END FAKULTAS -->

                        <!-- PRODI -->
                        <div class="promo-video create-item">
                            <div class="row">
                                <div class="col-md-3">
                                    <h4>Website Pribadi</h4>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-item">
                                        <input type="text" placeholder="www.andrewapn.id">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PRODI -->
                        
                        <div class="form-action">
                            <input type="submit" value="Save and Next" class="submit mc-btn-3 btn-style-1">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / CREATE COURSE CONTENT -->