<!-- FOOTER -->
<footer id="footer" class="footer">
    <div class="first-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget news_letter">
                        <div class="awe-static bg-news_letter"></div>
                        <div class="overlay-color-3"></div>
                        <div class="inner">
                            <div class="letter-heading">
                                <h3 class="md">News letter</h3>
                                <p>Cekiding ding bla bla bla</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
</footer>