
<!-- Trigger/Open The Modal -->
<button class="tooltip-hover" title="Cek MK Terpilih" id="mk-dipilih"><i class="fa fa-clipboard-check fa-lg"></i></i></button>

<!-- The Modal -->
<div id="popup-mk-dipilih" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>MK Yang Dipilih</h2>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Nama MK</th>
          <th scope="col">Kelas</th>
          <th scope="col">Dosen</th>
          <th scope="col">Biaya /MK</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Hisap Hisap 1</td>
          <td>F</td>
          <td>Dr. Velir, SH</td>
          <td>Rp. 2003,-</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Hisap Hisap 2</td>
          <td>C</td>
          <td>Dr. Babang Binatang, SL</td>
          <td>Rp. 2001,-</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Hisap Hisap 3</td>
          <td>G</td>
          <td>Drs. Kampang, SA</td>
          <td>Rp. 1900,-</td>
        </tr>
      </tbody>
    </table>
    
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('popup-mk-dipilih');

// Get the button that opens the modal
var btn = document.getElementById("mk-dipilih");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script>
  $(document).ready(function(){
      $('.tooltip-hover').tooltip({trigger: "hover"}); 
      // $('.tooltip-jadwal-ujian').tooltip({title: "Jadwal Ujian", trigger: "hover"});
  });  
  </script>